<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login | Event-Portal</title>
<!--   <link href="./style.css" rel="stylesheet"> -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Event Portal</h1>
		<p>Welcome to the worlds biggest event portal.<br>
      Get to know hundreads of events near you!</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="signup">Sign-up Instead</a> it takes less than a minute</p>
		<div class="inputs">
<!-- 			
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password"> -->
			<form action="/signin" method="post">
				{% csrf_token %}
				  
				  <input type="text" id="username" name="username" placeholder="user name" required>
				  <br>
				  
				  <input type="password" id="pass1" name="pass1" placeholder="password" required>  
				  <br>
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
			<p>forget password?</p>
		</div>
			
			<br>
			<button type="submit">Login</button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
